.earth {
    position: relative;
    transform-origin: center;
    cursor: pointer;
}

.earth-tooltip {
    position: absolute;
    visibility: hidden;
    font-family: 'Gilroy';
    color: var(--white);
    background-color: var(--gray-6);
    padding: 0.75rem 1rem;
    border-radius: 8px;
    width: 250px;
    max-width: 250px;
}
.earth-tooltip__title {
    font-size: 1.125rem;
    min-width: 220px;
    margin-bottom: 0.75rem;
}
.earth-tooltip__aqi,
.earth-tooltip__verdict {
    font-size: 1.25rem;
    text-transform: capitalize;
}
.earth-tooltip__aqi span {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--low-white);
}