.home-info-worst-aqi__content {
    gap: 2.5rem;
}
@media (min-width: 850px) {
    .home-info-worst-aqi__content {
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .home-info-worst-aqi__content > * {
        width: 47%;
    }
    .home-info-worst-aqi__content .shadow-box {
        position: sticky;
        top: 2.5rem;
    }
    .home-info-worst-aqi__content .home-info-pollution__description {
        max-width: none;
        text-align: justify;
    }
}

.aqi-chart {
    gap: 1.5rem;
    grid-auto-rows: 1fr;
}
.aqi-chart__title {
    color: var(--low-white);
    border: 1px dashed var(--low-white);
    padding: 0.5rem;
}
.aqi-chart__title a {
    text-decoration: underline;
}
.aqi-chart__item {
    gap: 1rem;
}
.aqi-chart__bar {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--black);
    padding: 0.75rem;
    padding-left: 0.5rem;
    height: 100%;
    -webkit-transition: opacity 350ms ease;
    -o-transition: opacity 350ms ease;
    transition: opacity 350ms ease;
}
.aqi-chart__bar:hover {
    opacity: 0.5;
}
.aqi-chart__value {
    font-weight: 500;
    font-size: 1.1rem;
}