.home-info-references__list {
    gap: 2rem;
    margin-left: 1.5rem;
    list-style-type: disc;
    font-size: clamp(1.125rem, 3vw + 0.5rem, 2.5rem);
}
.home-info-references__link {
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
@media (hover: hover) {
    .home-info-references__link:hover {
        letter-spacing: 3px;
        color: var(--purple);
    }
}