.accordion-item {
    font-weight: 500;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid var(--gray-2);
    overflow: hidden;
}

.accordion-item__trigger {
    color: var(--white);
    width: 100%;
}

.accordion-item__index {
    font-size: 0.875rem;
    letter-spacing: 1px;
    -webkit-transition: color 500ms ease;
    -o-transition: color 500ms ease;
    transition: color 500ms ease;
}
.accordion-item__trigger[data-state='open'] > .accordion-item__index {
    color: #2575fc;
}

.accordion-item__heading {
    position: relative;
    font-size: 1.125rem;
    margin-left: 2rem;
    margin-top: 0.75rem;
}
.accordion-item__heading::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0;
    margin: auto 0;
    width: 0%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(var(--gradient-blue)));
    background: -o-linear-gradient(right, var(--gradient-blue));
    background: linear-gradient(270deg, var(--gradient-blue));
    -webkit-transition: width 500ms ease;
    -o-transition: width 500ms ease;
    transition: width 500ms ease;
}
.accordion-item__trigger[data-state='open'] > .accordion-item__heading::after {
    width: 100%;
}

.accordion-item__btn-trigger {
    font-size: 2.1rem;
    font-weight: 200;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: -0.5em;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.accordion-item__trigger[data-state='open'] > .accordion-item__btn-trigger {
    color: #6a11cb;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

@media (hover: hover) {
    .accordion-item__trigger:hover .accordion-item__heading::after {
        width: 100%;
    }
    .accordion-item__trigger:hover .accordion-item__btn-trigger {
        color: #6a11cb;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
}

.accordion-item__content {
    overflow: hidden;
}
.accordion-item__content[data-state='open'] {
    -webkit-animation: slideDown 500ms ease;
            animation: slideDown 500ms ease;
}
.accordion-item__content[data-state='closed'] {
    -webkit-animation: slideUp 500ms ease;
            animation: slideUp 500ms ease;
}
.accordion-item__content > p {
    font-weight: 300;
    line-height: 1.2;
    color: var(--low-white);
    padding: 1rem 2rem;
    padding-right: 0;
}

@-webkit-keyframes strikethrough {
	from {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
	to {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
}
@keyframes strikethrough {
	from {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
	to {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
}

@-webkit-keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}
@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}
@-webkit-keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}
@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}