/* FONTS */
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Regular.woff') format('woff'),
        url('../assets/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Bold.woff') format('woff'),
        url('../assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../assets/fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-Light.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Light.woff') format('woff'),
        url('../assets/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../assets/fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Semibold.woff') format('woff'),
        url('../assets/fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../assets/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-Medium.woff') format('woff'),
        url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('../assets/fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-UltraLight.woff') format('woff'),
        url('../assets/fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
        url('../assets/fonts/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gilroy-SemiboldItalic.woff2') format('woff2'),
        url('../assets/fonts/Gilroy-SemiboldItalic.woff') format('woff'),
        url('../assets/fonts/Gilroy-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* RESETS AND SETUP */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a, button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}
input {
    margin: 0;
    padding: 0;
    font-family: inherit;
    border: none;
    border-radius: 0;
}
input:focus {
    outline: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}


/* VARIABLES */
:root {
    /* GRADIENTS */
    --gradient-blue: #6a11cb, #2575fc;
    --gradient-pink: #b465da, #cf6cc9, #ee609c;
    --gradient-purple: #5f72bd, #9b23ea;
    --gradient-violet: #B224EF, #7579FF;

    /* COLORS */
    --white: #ffffffde;
    --low-white: #ffffff99;
    --gray-1: #d9d9d9;
    --gray-2: #717171;
    --gray-3: #595959;
    --gray-4: #353535;
    --gray-5: #2B2726;
    --gray-6: #1f1d1d;
    --black: #090909;

    --green: #94FA7A;
    --yellow: #F9F373;
    --orange: #FF8753;
    --red: #E34D4D;
}

/* STRUCTURE */
html, body, #root {
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy';
    line-height: 1;
    color: var(--white);
    background-color: var(--black);
}
main {
    min-height: 2000px;
    flex-grow: 1;
    background-color: var(--black);
    z-index: 1;
}
.container {
    margin-inline: auto;
    width: 92%;
    max-width: 1500px;
}

/* UTILITY SELECTORS */
.flex {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}
.column {
    flex-direction: column;
}
.column-reverse {
    flex-direction: column-reverse;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.grid {
    display: grid;
}
.center-margin {
    margin-inline: auto;
}