.intro__small-text {
    font-size: 0.875rem;
    color: var(--low-white);
}
.intro__big-text {
    font-size: clamp(1.125rem, 3vw + 0.5rem, 2.25rem);
    font-weight: 500;
}
.intro__info-sign {
    height: 45px;
    width: 45px;
    padding: 0.5rem;
    padding-top: 0.55rem;

    font-size: 1.125rem;
    font-weight: 600;

    border: 2px solid var(--white);
    border-radius: 100%;
}
@media (min-width: 700px) {
    .intro__small-text {
        font-size: 1.125rem;
        margin-bottom: 8px;
    }
    .intro__info-sign {
        height: 55px;
        width: 55px;
        font-size: 1.4rem;
    }
}