.btn-nav {
    border-radius: 100%;
    width: 65px;
    height: 65px;

    background-color: #b465da;
    -webkit-box-shadow: 0px 5px 15px #0000002e;
            box-shadow: 0px 5px 15px #0000002e;

    position: fixed;
    left: 0; right: 0; bottom: 5vh;
    margin: 0 auto;
    z-index: 3;

    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    color: var(--white);
    font-size: 0.875rem;
}
@media (hover: hover) {
    .btn-nav:hover {
        -webkit-transform: scale(1.075);
            -ms-transform: scale(1.075);
                transform: scale(1.075);
    }
}
.btn-nav:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}
.btn-nav--open {
    background-color: #2575fc;
}
.btn-nav__label {
    position: absolute;
    -webkit-transform: rotate(64deg);
        -ms-transform: rotate(64deg);
            transform: rotate(64deg);
}
.curved {
    position: absolute;
    bottom: 22px;
    font-size: 0.8rem;
    height: 60px;
    width: 22px;
    -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
            transform-origin: bottom center;
}
.btn-nav--open .btn-nav__label {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
    bottom: 31px;
}
@media (max-width: 600px) {
    .btn-nav {
        width: 60px;
        height: 60px;
        bottom: 3.5vh;
    }
    .curved {
        height: 54px;
    }
    .btn-nav--open .btn-nav__label {
        bottom: 29px;
    }
}
.char1 { -webkit-transform: rotate(10deg); -ms-transform: rotate(10deg); transform: rotate(10deg); }
.char2 { -webkit-transform: rotate(23deg); -ms-transform: rotate(23deg); transform: rotate(23deg); }
.char3 { -webkit-transform: rotate(35deg); -ms-transform: rotate(35deg); transform: rotate(35deg); }
.char4 { -webkit-transform: rotate(47deg); -ms-transform: rotate(47deg); transform: rotate(47deg); }
.char5 { -webkit-transform: rotate(59deg); -ms-transform: rotate(59deg); transform: rotate(59deg); }


.nav {
    position: fixed;
    left: 0; bottom: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: var(--gray-6);
    padding-top: 2rem;
    padding-bottom: 16vh;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    transition: -webkit-transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    -o-transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97), -webkit-transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}
.nav--open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
.nav__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-transform: translateY(100px) scale(0.8);
        -ms-transform: translateY(100px) scale(0.8);
            transform: translateY(100px) scale(0.8);
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: -webkit-transform 500ms ease-out;
    -o-transition: transform 500ms ease-out;
    transition: transform 500ms ease-out;
    transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
    border-bottom: 1px solid var(--gray-3);
    padding-bottom: 1rem;
}
.nav__container > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}
.nav--open .nav__container {
    -webkit-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
}

.nav__section-content {
    gap: 1.2rem;
}
.nav__section-content--links {
    justify-items: start;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}
.nav__section-heading {
    font-size: 0.875rem;
    color: var(--low-white);
    text-transform: uppercase;

    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--gray-3);
}

@media (min-width: 1050px) {
    .nav {
        height: 50%;
    }
    .nav__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        padding-bottom: 2rem;
        gap: 3rem;
    }
    .nav__section:nth-child(2) {
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    }
    .nav__section:nth-child(1) {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    }
    .nav__section-content {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
    .nav__section-content--links {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
.nav__link {
    position: relative;
    font-size: clamp(1.5rem, 5vw + 0.5rem, 2.2rem);
    text-transform: uppercase;
    color: var(--low-white);
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.nav__link:hover {
    color: var(--white);
    letter-spacing: 1px;
}
.nav__link--active {
    padding-left: 0.5em;
}
.nav__link--active::before {
    position: absolute;
    content: "";
    top: 0; bottom: 0; left: 0;
    margin: auto 0;
    width: 0.30em;
    height: 0.30em;
    border-radius: 100%;
    background: -webkit-gradient(linear, left top, right top, from(var(--gradient-pink)));
    background: -o-linear-gradient(left, var(--gradient-pink));
    background: linear-gradient(90deg, var(--gradient-pink));
}